.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
}

.reveal {
  font-size: 26px;
}

.reveal .slides {
  text-align: left;
}

.reveal .slides section>* {
  margin-left: 0;
  margin-right: 0;
}

.reveal h1 {
  font-size: 2.5em;
  }

.reveal h2 {
  font-size: 1.9em; }

.reveal h3 {
  font-size: 1.4em; }

.reveal h4 {
  font-size: 1em; }

.reveal pre {
    font-size: 0.85em;
}

.reveal pre code {
  max-height: 600px;
}

#left {
    margin: 10px 0 15px 20px;
    text-align: center;
    float: left;
    z-index:-10;
    width:48%;
    font-size: 0.75em;
    line-height: 1.2;
}
#right {
    margin: 10px 0 15px 0;
    float: right;
    text-align: center;
    z-index:-10;
    width:48%;
    font-size: 0.75em;
    line-height: 1.2;
}