/*  Bootstrap
    ------------------------------------------------------- */

/*  apply font awesome
    ------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:300,300i,400,400i,500,500i,600,600i|Fira+Sans:400,400i,500,600,600i,700,700i|Roboto+Condensed:400,400i,700,700i&subset=latin-ext');

div.danger p.admonition-title:before,
div.error p.admonition-title:before,
div.warning p.admonition-title:before,
div.caution p.admonition-title:before,
div.attention p.admonition-title:before,
div.important p.admonition-title:before,
div.note p.admonition-title:before,
div.hint p.admonition-title:before,
div.tip p.admonition-title:before
{
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.danger p.admonition-title:before,
div.error p.admonition-title:before {
  content: "\f06a\00a0";
}
div.warning p.admonition-title:before,
div.caution p.admonition-title:before,
div.attention p.admonition-title:before {
  content: "\f071\00a0";
}
div.important p.admonition-title:before,
div.note p.admonition-title:before {
  content: "\f05a\00a0";
}
div.hint p.admonition-title:before,
div.tip p.admonition-title:before {
  content: "\f0eb\00a0";
}

body
{
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
}

input,
button,
select,
textarea,
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.navbar,
.navbar-search .search-query,
.navbar .navbar-search .search-query,
/*
.navbar .search-query::-moz-placeholder,
.navbar .search-query::-webkit-input-placeholder,
*/
.navbar .brand,
.navbar .nav>li>a,
.navbar .navbar-text,
.navbar .dropdown-menu li>a,
.nav li>a,
div.subnav,
div.subnav .nav>li>a,
div.subnav .nav>li:first-child>a,
div.subnav .nav>li.active>a,
legend,
.btn,
.alert-heading
{
  font-family: 'Fira Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6
{
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-weight: 500;
}

h2, h3, h4, h5, h6 {
 padding-bottom: 10px;
 border-bottom: 1px solid #d0d0d0;
}

h4, h5, h6 {
  margin-top: 1.8em;
}

h5, .h5 {
  font-size: 18px;
}

h4, .h4 {
  font-size: 22px;
}

pre
{
  border-radius: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
}

div.admonition
{
  border-radius: 0px;
}

.navbar
{
  border-radius: 0px;
}

/* for tablet */
@media (max-width: 767px) {
  form.sp-searchbox div.input-append {
    margin-top: 10px;
    margin-left: 12px;
  }
  form.sp-searchbox div.input-append {
    width: 90%;
    
  }
  form.sp-searchbox input.search-query {
    width: 100%;
  }
}

/* for smartphone */
@media (max-width: 480px) {
  a.brand {
    width: 80%;
  }
  a.navbar-brand {
    width: 80%;
    height: 100%;
  }
  .searchbox .search-query {
    width: 90%;
  }
}

/* for desktop */
@media (min-width: 768px) {
  
  
  div.container {
    width: 900px;
  }
  
}

img {
  max-width: 80%;
  max-height: 50%;
  margin: 40px;
}

code, kbd, pre, samp
{
  font-family: "Fira Code", "Inconsolata", monospace;
}

dl.function {
  margin-top: 1em;
}

dt {
  font-weight: 400 !important;
  font-family: "Fira Sans Extra Condensed", "Fira Sans", monospace !important;
}

code.descname {
  background-color: transparent;
  font-weight: 500 !important;
  font-size: 1.0em;
}