/*  Bootstrap
    ------------------------------------------------------- */

/*  apply font awesome
    ------------------------------------------------------- */
@import 'https://fonts.googleapis.com/css?family=Lato:400,700i|Open+Sans:400,400i,600&subset=latin-ext';

div.danger p.admonition-title:before,
div.error p.admonition-title:before,
div.warning p.admonition-title:before,
div.caution p.admonition-title:before,
div.attention p.admonition-title:before,
div.important p.admonition-title:before,
div.note p.admonition-title:before,
div.hint p.admonition-title:before,
div.tip p.admonition-title:before
{
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.danger p.admonition-title:before,
div.error p.admonition-title:before {
  content: "\f06a\00a0";
}
div.warning p.admonition-title:before,
div.caution p.admonition-title:before,
div.attention p.admonition-title:before {
  content: "\f071\00a0";
}
div.important p.admonition-title:before,
div.note p.admonition-title:before {
  content: "\f05a\00a0";
}
div.hint p.admonition-title:before,
div.tip p.admonition-title:before {
  content: "\f0eb\00a0";
}

body
{
  font-family: 'Lato',sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
select,
textarea,
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.navbar,
.navbar-search .search-query,
.navbar .navbar-search .search-query,
/*
.navbar .search-query::-moz-placeholder,
.navbar .search-query::-webkit-input-placeholder,
*/
.navbar .brand,
.navbar .nav>li>a,
.navbar .navbar-text,
.navbar .dropdown-menu li>a,
.nav li>a,
div.subnav,
div.subnav .nav>li>a,
div.subnav .nav>li:first-child>a,
div.subnav .nav>li.active>a,
legend,
.btn,
.alert-heading
{
  font-family: 'Lato', sans-serif;
}

h1, h2, h3
{
  font-weight: 700;
  font-style: italic;
}

h2, h3, h4, h5, h6 {
 padding-bottom: 10px;
 border-bottom: 1px solid #d0d0d0;
}

img, img.align-center
{
  margin-top: 35px;
  margin-bottom: 35px;
}

pre
{
  border-radius: 0px;
}

div.admonition
{
  border-radius: 0px;
}

.navbar
{
  border-radius: 0px;
}

/* for tablet */
@media (max-width: 767px) {
  form.sp-searchbox div.input-append {
    margin-top: 10px;
    margin-left: 12px;
  }
  form.sp-searchbox div.input-append {
    width: 90%;
    
  }
  form.sp-searchbox input.search-query {
    width: 100%;
  }
}

/* for smartphone */
@media (max-width: 480px) {
  a.brand {
    width: 80%;
  }
  a.navbar-brand {
    width: 80%;
    height: 100%;
  }
  .searchbox .search-query {
    width: 90%;
  }
}

/* for desktop */
@media (min-width: 768px) {
    
  div.container {
    width: 900px;
  }
  
}
